{% extends 'base.html' %}



<body>
    <h1>All books at our library</h1>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
{% block content %}
<ul>
    {% for author in authors %}
        <li>{{ author }}</li>
    {% endfor %}
</ul>

<form action="{{ url_for('menu') }}" method="GET">
    <button type="submit" class="btn btn-outline-dark">Go to menu</button>
</form>
{% endblock %}