{% extends 'base.html' %}

{% block content %}

<form action="{{ url_for('books.update_book') }}" method="POST">
    <label for="book">Enter book name:</label>
    <input id="book" name="book" type="text">
    <label for="book_name">Enter new book name:</label>
    <input id="book_name" name="book_name" type="text">
    <button type="submit" class="btn btn-outline-success">Update Book</button>
</form>


<form action="{{ url_for('menu') }}" method="GET">
    <button type="submit" class="btn btn-outline-dark">Go to menu</button>
</form>

<form action="{{ url_for('books.show_all_books') }}" method="GET">
    <button type="submit" class="btn btn-outline-dark">Go to all books</button>
</form>
{% endblock %}